<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Network Programming</title>
	<script th:src="@{ /css/tailwind.css }"></script>
</head>
<body>
    <div class="min-h-screen h-full flex flex-col">
        <nav class="flex items-center justify-between flex-wrap bg-gray-700 p-6">
            <div class="flex items-center flex-shrink-0 text-white mr-6">
                <a th:href="@{ / }" class="font-semibold text-xl tracking-tight">NEP</a>
            </div>
            <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
                <div class="text-sm lg:flex-grow">
                    <a th:href="@{ / }" class="block mt-4 lg:inline-block lg:mt-0 text-gray-300 hover:underline mr-4">
                        Students
                    </a>
                    <a th:href="@{ /groups }" class="block mt-4 lg:inline-block lg:mt-0 text-gray-300 hover:underline mr-4">
                        Groups
                    </a>
                </div>
            </div>
        </nav>
        <div class="flex justify-center mt-3">
            <div class="w-full max-w-lg md:max-w-6xl">
                <div class="w-full my-2">
                    <div class="flex justify-between">
                        <span class="text-2xl">Student Management</span>
                        <a th:href="@{ /addstudent }" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 border border-gray-700 rounded">
                            Add New Student
                        </a>
                    </div>
                </div>
                <div class="w-full">
                    <table class="w-full text-left">
                        <thead class="border border-black bg-gray-300">
                            <th class="w-2/12 px-2 py-2">ID</th>
                            <th class="w-6/12 px-2 py-2">Name</th>
                            <th class="w-2/12 px-2 py-2">Group</th>
                            <th class="w-2/12 px-2 py-2">Action</th>
                        </thead>
                        <tbody class="bg-gray-100">
                            <tr class="border-b border-gray-300 hover:bg-white">
                                <th class="px-2 py-2">18FTT001</th>
                                <th class="px-2 py-2">Abdul bin Mohammad</th>
                                <th class="px-2 py-2">DITN09</th>
                                <th class="flex justify-between px-2 py-2">
                                    <a href="#responsive-header" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 border border-gray-700 rounded mr-3">
                                        Edit
                                    </a>
                                    <a href="#responsive-header" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 border border-gray-700 rounded">
                                        Delete
                                    </a>
                                </th>
                            </tr>
                            <tr class="border-b border-gray-300 hover:bg-white">
                                <th class="px-2 py-2">18FTT002</th>
                                <th class="px-2 py-2">Dayang binti Haji Abdullah</th>
                                <th class="px-2 py-2">DITN08</th>
                                <th class="flex justify-between px-2 py-2">
                                    <a href="#responsive-header" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 border border-gray-700 rounded mr-3">
                                        Edit
                                    </a>
                                    <a href="#responsive-header" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 border border-gray-700 rounded">
                                        Delete
                                    </a>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>